---
import Layout from '../layouts/Layout.astro';
import MemberCard from '../components/MemberCard.astro';
import { turso } from '../turso';

const { rows: members } = await turso.execute('SELECT * FROM members');

---

<Layout title="Aliance | Miembros">
  <main>
    <div class="flex justify-around">
      {members.map(member => (
        <MemberCard id={member.id?.toString()} imagen={member.imagen?.toString()} nick={member.nick?.toString()} rol={member.rol?.toString()} />
      ))}
    </div>
  </main>
</Layout>
