---
import { fade } from "astro:transitions";
interface Props {
    id?: string;
    nick?: string;
    imagen?: string;
    rol?: string;
}
const { id, nick, imagen, rol } = Astro.props;
export const prerender = true;
---

<a href={"members/" + nick} class="w-1/4 p-4">
    <div class="text-white rounded-lg overflow-hidden">
        <img
            class="flex float animate-float transition-all duration-300"
            src={"/assets/" + imagen}
            alt={nick}
            transition:name={id + "-img"}
        />
        <div class="p-4">
            <h2
                class="text-lg font-bold"
                transition:name={id + "-title"}
            >
                {nick}
            </h2>
            <p
                class="text-gray-600"
                transition:name={id + "-role"}
            >
                {rol}
            </p>
        </div>
    </div>
</a>

<style></style>
